.card {
    display : flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    margin: .5em;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 5px 5px 0 0;
    border: gold;
  }
.singleCard{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    border: 1px solid gold;
    flex-basis: content;
}

h2{
    text-decoration: underline;
    text-align: center;
    background: rgb(255,215,0);
    background: linear-gradient(90deg, rgba(255,215,0,1) 38%, rgba(80,187,204,1) 51%, rgba(0,0,0,1) 70%);
    background-clip: text;
    color: transparent;


}

h3{
    color: blue;
    text-decoration: underline;
}
h4{
    text-decoration: underline;
}
label{
    /* color: blue; */
    
    
}
/* .container {
    
    min-height: 100vh;
  } */

#characterName{
    color: teal;
}

.characterItem{
    margin-left: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-color: #014041;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #00acb0;
    color: #f8f8f8;
    font-size: 1.1rem;
    outline: 0;
    cursor: pointer;
    margin: 10px;
  }

#characterEdit{
    text-align: center;
}

.red-label{
    color: red;
}

.blue-label{
    color: blue;
}

.orange-label{
    color: orange;
}

.black-lable{
    color: white;
}