footer {
  /* padding: 10px;
  
  background-color: #600316;
  
  width: 100%;
  position: relative; */
  margin: auto; 
  position: absolute;
  left:0;
  bottom:0;
  right:0;  
  text-align: center;
  color: teal;
}
